# Visual Studio Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
.venv/
venv/

# TeX
*.aux
*.log
*.synctex.gz
*.dvi
*.fdb_latexmk
*.fls
*.out
*.toc
*.bbl
*.blg
*.lot
*.lof
*.gz